/* Google Font Import Link */
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Aref+Ruqaa:wght@700&family=El+Messiri&family=Scheherazade+New:wght@700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    font-family: 'Manrope', sans-serif;
    transition: all .6s ease-in-out;
}

:root {
    --bg-color: #0f151a;
    --text-color: #fff;
    --main-color: #ffaa00;
    --other-color: #0f1151;
    --h2-font: 1.5rem;
}

body {
    background: linear-gradient(229deg, #f5f5f5, #000000, #18193f, #cfcfcf);
    /* background: linear-gradient(-45deg, #6100b7, #01152b, #6100b7, #01152b); */
    background-size: 400% 400%;
    animation: gradient 6s ease infinite;
    height: 160vh;
    color: var(--text-color);

}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}


header {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    z-index: 1000;
    padding: 30px 12%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(106deg, #6100b7 0%, #01152b 60%);
    justify-content: center;
    align-items: center;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;

}

.nav-links {
    display: flex;
}

.nav-links a {
    font-size: 15px;
    font-weight: 600;
    color: var(--text-color);
    margin: 0 30px;

}

.nav-links a:hover {
    color: var(--main-color);
}

.logo img {
    display: flex;
    width: 35px;
    height: auto;

}

.h-right {
    display: flex;
    align-items: center;
}

.h-right a {
    margin-right: 30px;
    font-size: 25px;
    color: var(--main-color);
}

.h-right a:hover {
    color: var(--text-color);
    transform: scale(1.2);
}

#menu-icon {
    font-size: 37px;
    color: var(--main-color);
    cursor: pointer;
    display: none;
    z-index: 1000;
}

section {
    padding: 0 12%;
}

.home {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;

}

.home-img img {
    width: 500px;
    height: auto;
    border: 1px solid white;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
}

.home-text span {
    color: var(--main-color);
    font-size: 16px;
}

.home-text h1 {
    font-weight: 800;
    line-height: 1.3;
    padding-top: 15px;

}

.home-text p {
    width: 100%;

    font-size: 14px;
    font-weight: 400;
    color: var(--text-color);
    line-height: 30px;
    margin-bottom: 35px;
}

.home-text i {
    height: 45px;
    width: 45px;
    background: #6017d4;
    color: #ffffff;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    margin-right: 18px;
    border-radius: 12px;
    margin-bottom: 50px;

}

.skils {
    padding-top: 400px;
}

.home-text .fb:hover {
    background: #1e0447;
    color: #617eff;
    transform: scale(1.1);
    border: 1px solid white;
}

.home-text .ig:hover {
    background: #1e0447;
    color: #f10065;
    transform: scale(1.1);
    border: 1px solid white;
}

.home-text .wa:hover {
    background: #1e0447;
    color: rgb(6, 202, 94);
    transform: scale(1.1);
    border: 1px solid white;

}

.home-text .gh:hover {
    background: #1e0447;
    color: rgb(212, 216, 3);
    transform: scale(1.1);
    border: 1px solid white;

}

.icons {

    padding-top: 30px;
}

.web {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: linear-gradient(331deg, #6100b7 0%, #000000 60%);
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    border: 1px solid white;


}

.ux {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: linear-gradient(27deg, #6100b7 0%, #000000 60%);
    border-radius: 10px;
    padding: 0px;
    margin: 10px;
    border: 1px solid white;

}

.ps {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: linear-gradient(331deg, #6100b7 0%, #000000 60%);
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    border: 1px solid white;

}

.lr {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: linear-gradient(27deg, #6100b7 0%, #000000 60%);
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    border: 1px solid white;

}


.text-su {
    padding: 20px;
}

.main-btn{
    padding-bottom: 30px;
}

.btn {
    display: inline-block;
    padding: 15px 22px;
    color: white;
    background: #6017d4;
    border-radius: 25px;
    font-size: 16px;
    font-weight: 700;
    word-spacing: 5px;
    border: 1px solid transparent;
}

.btn:hover {
    background: transparent;
    border: 1px solid white;
    color: var(--text-color);
}

.btn2 {
    color: var(--main-color);
    background: transparent;
    font-size: 16px;
    font-weight: 700;
    margin-left: 25px;
    text-transform: uppercase;
    word-spacing: 5px;
    border: none;

}

.btn2:hover {
    color: var(--text-color);
}

.f-text {
    margin-top: 30px;
}

.hekma {
    font-family: 'Aref Ruqaa', serif;
    color: white;
    margin-top: 10px;
}

.scroll {
    position: absolute;
    top: 92%;
    left: 50%;
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    cursor: pointer;
}

.scroll img {
    width: 100px;
}

.scroll img:hover {
    transform: translateY(4px);
}

@media (max-width: 1152px) {
    header {
        padding: 15px 7%;
    }

    section {
        padding: 0 7%;
    }
}

@media (max-width: 1000px) {

    .home-img {
        height: 600px;
        width: 600px;
    }

    .home-img img {
        width: 100%;
        height: 100%;
        object-fit: contain;

    }


}

@media (max-width: 600px) {
    .scroll {
        display: none;
    }

    section {
        padding: 70px 7%;

    }

    .home {
        display: flex;
        flex-wrap: wrap;
        gap: 2rem;
        height: 100%;
    }

    .home-text {
        order: 2;
        width: 100%;
        text-align: center;
    }

    .home-img {
        height: 350px;
        width: 350px;
        margin: 20px auto;
    }

}

@media (max-width: 500px) {

    header {
        padding: 13px 5%;
    }

    section {
        padding: 60px 5%;
    }

    .home-img {
        height: 300px;
        width: 300px;
        margin: 10px auto;
    }

    #menu-icon {
        display: block;
        font-size: 43px;
    }

    .nav-links {
        text-align: center;
        position: absolute;
        width: 100%;
        height: 100vh;
        padding: 150px 50px;
        top: 0;
        left: 100%;
        bottom: 0;
        right: 0;
        display: flex;
        flex-direction: column;
        gap: 2rem;

        backdrop-filter: blur(20px);
    }

    .nav-links a {
        display: block;
        padding: 0;
        margin: 0px 0px 22px 0px;
        font-size: 2rem;
    }

    .nav-links.open {
        left: 0;
    }


}